<template>
    <nav v-if="totalCount > pageSizeParam" class="nav-pag">
        <ul class="nav-pag__list">
            <li class="nav-pag__item" @click="prevPage">
                <span class="nav-pag__link pag__link--prew" :class="{disabled: page === 1}">
                    <svg class="nav-pag__icon">
                        <use xlink:href="#arrow-left"/>
                    </svg>
                </span>
            </li>

            <li v-for="item in items" class="nav-pag__item" @click="changePage(item)">
                <span
                    class="nav-pag__link"
                    :class="{
                        active: item === page,
                        'nav-pag__link--dotted': item === BREAK_VIEW,
                    }"
                >
                    {{ item }}
                </span>
            </li>

            <li class="nav-pag__item" @click="nextPage">
                <span class="nav-pag__link pag__link--next" :class="{disabled: page === pageCount}">
                    <svg class="nav-pag__icon">
                        <use xlink:href="#arrow-right"/>
                    </svg>
                </span>
            </li>
        </ul>
    </nav>
</template>

<script lang="ts" setup>
import {computed, ref, watch} from 'vue';

const BREAK_VIEW = '...';

const props = withDefaults(defineProps<{
    totalCount: number;
    currentPage: number;
    pageSizeParam: number;
    totalVisible?: number;
    sideMargin?: number;
}>(), {
    currentPage: 1,
    pageSizeParam: 10,
    totalVisible: 11
});

const emits = defineEmits<{
    (event: 'change', value: number): void,
}>();

const page = ref(1);

const pageCount = computed(() => {
    const pageCount = Math.ceil(props.totalCount / props.pageSizeParam);
    return pageCount < 1 ? 1 : pageCount;
});

const items = computed(() => {
    if (props.totalVisible <= 0) {
        return [];
    }

    const maxLength = Math.min(props.totalVisible, pageCount.value);

    if (pageCount.value === maxLength) {
        return range(1, pageCount.value);
    }

    const delta = maxLength % 2 === 0 ? 1 : 0;
    const left = Math.floor(maxLength / 2);
    const right = pageCount.value - left + 1 + delta;
    const evenMargin = Math.floor((props.totalVisible - 2) / 3);
    const sideMargin = props.sideMargin ?? 0;
    const margin = Math.min(
        sideMargin > 0 ? sideMargin : evenMargin,
        evenMargin
    );

    if (page.value > left && page.value < right) {
        const tailStart = pageCount.value - margin + 1;
        const start = page.value - left + margin + 1;
        const end = page.value + left - margin - 1 - delta;
        const afterMargin = start === margin + 2 ? margin + 1 : BREAK_VIEW;
        const beforeTail = end === pageCount.value - margin - 1 ? end + 1 : BREAK_VIEW;

        return [...range(1, margin), afterMargin, ...range(start, end), beforeTail, ...range(tailStart, pageCount.value)];
    } else if (page.value === left) {
        const start = pageCount.value - margin + 1;
        const end = page.value + left - margin - delta;
        return [...range(1, end), BREAK_VIEW, ...range(start, pageCount.value)];
    } else if (page.value === right) {
        const start = page.value - left + margin;
        return [...range(1, margin), BREAK_VIEW, ...range(start, pageCount.value)];
    } else {
        return [...range(1, left), BREAK_VIEW, ...range(right, pageCount.value)];
    }
});

function range(from: number, to: number) {
    const range: number[] = [];

    for (let i = from; i <= to; i++) {
        range.push(i);
    }

    return range;
}

function prevPage() {
    if (page.value > 1) {
        changePage(page.value - 1);
    }
}

function nextPage() {
    if (page.value < pageCount.value) {
        changePage(page.value + 1);
    }
}

function changePage(value: number | string) {
    if (typeof value === 'number') {
        page.value = value;
        emits('change', page.value);
    }
}

watch(
    () => props.currentPage,
    (value) => page.value = value,
    {immediate: true}
);
</script>
