<script setup lang="ts">
import Pagination from "./components/Pagination.vue";
</script>

<template>
    <Pagination
        :total-count="200"
        :current-page="3"
        :page-size-param="10"
    />
</template>
