.nav-pag {
  user-select: none;
}

.nav-pag__list {
  list-style-type: none;
  padding: 0;
  display: flex;
}

.nav-pag__item {
  flex-shrink: 0;
  margin-right: 8px;
}

.nav-pag__link {
  padding-left: 6px;
  padding-right: 6px;
  min-width: 26px;
  height: 26px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  line-height: 24px;
  background-color: #fff;
  margin-left: -1px;
  transition: color 0.2s ease, background-color 0.2s ease, box-shadow 0.2s ease;
  color: #007bff;
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .2), 0 1px 2px rgba(0, 0, 0, .2);

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  &.active {
    color: #fff;
    background-color: #0d6efd;

    &:hover {
      text-decoration: none;
      cursor: default;
    }
  }

  &.disabled {
    color: #333;

    &:hover {
      text-decoration: none;
      cursor: default;
    }
  }
}

.nav-pag__link--dotted {
  box-shadow: none;
  color: #333;
  background-color: transparent;

  &:hover {
    text-decoration: none;
    cursor: default;
  }
}

.nav-pag__item:first-child .nav-pag__link {
  margin-left: 0;
}

.nav-pag__icon {
  width: 16px;
  height: 16px;
  fill: currentColor;
}
